<%= form_with model: @photo, local: true do |f|%>
  <div class="field">
  <%= f.label :position, "写真の番号" %><br />
  <%= f.text_field :position, id:"photo_position" %>
  </div>

  <div class="field">
    <%= f.label :title, "写真のタイトル" %><br />
    <%= f.text_field :title, id:"photo_title" %>
  </div>

  <div class="field">
    <%= f.label :image, "プロトタイプの画像" %><br />
    <%= f.file_field :image, id:"photo_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>